

<body>
<div class="example-container">


  <button mat-button class="nav_but_home" (click) = 'home()'>
    <i class="material-icons" style="color:teal; position: absolute; left: 15%; top:17%;">home</i>
    <div class="sous_bt" style="">Accueil</div>
  </button>


  <button mat-button class="nav_but_tout" (click) = 'infos()'>
    <i class="material-icons" style="color: rgba(107, 114, 114, 0.815); position: absolute; left: 8%; top:18%;">bar_chart</i>
    <div class="sous_bt" style="">Plus d'informations</div>
  </button>

  <button mat-button class="nav_but" (click) = 'ajouter()'>
    <i class="material-icons" style="color: teal; position: absolute; left: 8%; top:18%;">add_box</i>
    <div class="sous_bt" style="">Ajouter un Client</div>
  </button>

</div>

<div class="table-div mat-elevation-z8">


  <table >
    <tr>
      <th>N° CIN</th>
      <th>N° permis</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Date de Naissance</th>
      <th>Rue</th>
      <th>Ville</th>
      <th >Code Postal</th>
      <th style="width: 9%;"></th>
    </tr>

    <tr *ngFor ="let elem of clients">
      <td><input mat-cell   name="cin" disabled [(ngModel)]="elem.ncin"  type="text" /></td>
      <td><input mat-cell   name="npermis" [(ngModel)]="elem.npermis"  type="text" value = "{{elem.npermis}}"/></td>
      <td><input mat-cell   name="nom" [(ngModel)]="elem.nom"  type="text" value = "{{elem.nom}}"/></td>
      <td><input mat-cell   name="prenom" [(ngModel)]="elem.prenom" type="text" value = "{{elem.prenom}}"/></td>
 <td>
      <input style="width: 50%;"  name="datenaiss" [(ngModel)]="elem.dateNaiss" [matDatepicker]="myDatepicker" value = "{{formattedDate(elem.dateNaiss)}}" placeholder="{{formattedDate(elem.dateNaiss)}}">
   <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
   <mat-datepicker #myDatepicker></mat-datepicker>
      </td>
      <td><input mat-cell   name="rue" [(ngModel)]="elem.adresse.rue" type="text" value = "{{elem.adresse.rue}}"/></td>
      <td><input mat-cell   name="ville" [(ngModel)]="elem.adresse.ville" type="text" value = "{{elem.adresse.ville}}"/></td>
      <td><input mat-cell   name="codep" [(ngModel)]="elem.adresse.codePostal" type="text" value = "{{elem.adresse.codePostal}}"/></td>

      <td><button class="but_form" type="submit">
        <i class="material-icons" style="color: green;" (click) = "modifier(elem)"  >check_circle_outline</i>
      </button>
        <button class="but_form" >
          <i class="material-icons" style="color: red;" (click) = "delete(elem.ncin)">delete</i>
        </button></td>
    </tr>

  </table>


</div>

</body>
