html,body{height:100%;margin:0;padding:0;}
body{
    background-image:url('../../assets/bk.jpg');
    background-position:center;background-size:cover;
    background-repeat:no-repeat;min-height:100vh;
    font-family:'Comic Sans MS', sans-serif;
}

.example-container {
    height: 84%;
    margin-top: 3%;
    left: 11%;
    right: 5%;
    width: 75%;
    position: fixed;
    background-color: rgba(248, 248, 248, 0.82);
    padding-top: 4%;
    color: black;
    padding-left: 2.5%;
    opacity: 0.9;



}
.nav {
    height: 100%;
    width: 100%;
}
.nav_but_home {
    width: 12%;
    color: teal;
    font-size: large;
    padding-top: 0.2%;

   padding-bottom: 3%;
    position: fixed;
    top: 2%;
    margin-left: 3%;
    height: 4%;
    align-items: center;
    background-color: transparent;

}
.nav_but_home:hover{
    transform: translateY(-3px);

}

.titre{
  position: fixed;
  top:5%;
  left: 38.5%;
  font-family: 'Comic Sans MS', sans-serif;
  color: teal;

}

.f_inp{
  color: black;
  width: 35%;
}

.nav_but {
  width: 20%;
  color: #254920;
  font-size: large;
  padding-top: 0.2%;
  position: fixed;
  top: 86%;
  padding-bottom: 3%;
  margin-left: 7%;
  height: 6%;
  align-items: center;
  background-color: rgba(65, 152, 67, 0.6);
  box-shadow: 0px 15px 20px rgba(82, 90, 87, 0.4);
}




.nav_but:hover{
  transform: translateY(-3px);

}
