<body>
<button mat-button class="nav_but_home" (click) = 'home()'>
  <i class="material-icons" style="color:teal; position: absolute; left: 15%; top:17%;">home</i>
  <div class="sous_bt" >Accueil</div>
</button>

<div class="example-container">
  <h1 class="titre">Ajouter un Client</h1>
  <form>
    <mat-form-field class="f_inp" appearance="outline" style="margin-left: 10%; margin-top: 5%; "  >
      <mat-label style="color: black" >N° cin</mat-label>
      <input type="text"  matInput placeholder="exemple: 123456 ">
    </mat-form-field>

    <mat-form-field class="f_inp" appearance="outline" style="margin-left: 5%; margin-top: 5%;">
      <mat-label style="color: black">N° Permis</mat-label>
      <input type="text" matInput placeholder="exemple: 123456 ">
    </mat-form-field>

    <mat-form-field class="f_inp" appearance="outline" style="margin-left: 10%; margin-top: 0.3%;">
      <mat-label style="color: black">Nom</mat-label>
      <input type="text" matInput placeholder="exemple: foulen">
    </mat-form-field>

    <mat-form-field class="f_inp" appearance="outline" style="margin-left: 5%; margin-top: 0.3%;">
      <mat-label style="color: black">Prenom</mat-label>
      <input type="text" matInput placeholder="example: Ben foulen">
    </mat-form-field>

    <mat-form-field class="f_inp" appearance="outline" style="margin-left: 10%; margin-top: 0.3%;">
      <mat-label style="color: black">Date de Naissance</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="f_inp" appearance="outline" style="margin-left: 5%; margin-top: 0.3%;">
      <mat-label style="color: black">Adresse</mat-label>
      <input type="text" matInput placeholder="example: Rue slou7a ">
    </mat-form-field>



    <button mat-button type="submit" class="nav_but" (click) = 'ajouter()'>
      <i class="material-icons" style="color: #254920; position: absolute; left: 8%; top:18%;">add_box</i>
      <div class="sous_bt" style="">Ajouter un Client</div>
    </button>
  </form>
</div>
</body>
