

<body>
<div class="example-container">

  <button mat-button class="nav_but_home" (click) = 'home()'>
    <i class="material-icons" style="color:teal; position: absolute; left: 15%; top:17%;">home</i>
    <div class="sous_bt" style="">Accueil</div>
  </button>

  <div class="nb_tot" >Nombre Totale de voiture:
  <div class="nb">{{nb_tot}}</div>
  </div>

  <button mat-button class="nav_but_tout" (click) = 'infos()'>
    <i class="material-icons" style="color: rgba(107, 114, 114, 0.815); position: absolute; left: 8%; top:18%;">bar_chart</i>
    <div class="sous_bt" style="">Plus d'informations</div>
  </button>

  <button mat-button class="nav_but" (click) = 'ajouter()'>
    <i class="material-icons" style="color: teal; position: absolute; left: 8%; top:18%;">add_box</i>
    <div class="sous_bt" style="">Ajouter une Voiture</div>
  </button>

</div>

  <div class="table-div mat-elevation-z8">
    <table >
      <tr>
        <th colspan="8" style="align-content: center;">Informations Voiture</th>
        <th colspan="3"  style="align-content: center;">Assurance</th>
      </tr>
      <tr>
        <th>N° Immat</th>
        <th>N° Chassis</th>
        <th>Modèle</th>
        <th>Marque</th>
        <th>D.M.C</th>
        <th>Puissance</th>
        <th>Nb Cylindres</th>
        <th>Prix/J</th>
        <th>Assureur</th>
        <th>Type Assurance</th>
        <th>Cotisation</th>

        <th style="width: 9%;"></th>
      </tr>

      <tr *ngFor ="let elem of voitures">
        <td><input mat-cell   name="immat" disabled [(ngModel)]="elem.immat"  type="text" /></td>
        <td><input mat-cell   name="numChassis" [(ngModel)]="elem.numChassis"  type="text" value = "{{elem.numChassis}}"/></td>
        <td><input mat-cell   name="modele" [(ngModel)]="elem.modele"  type="text" value = "{{elem.modele}}"/></td>
        <td><input mat-cell   name="marque" [(ngModel)]="elem.marque"  type="text" value = "{{elem.marque}}"/></td>
        <td>
          <input style="width: 50%;"  name="dmc" [(ngModel)]="elem.dateCirculation" [matDatepicker]="myDatepicker" value = "{{formattedDate(elem.dateCirculation)}}" placeholder="{{formattedDate(elem.dateCirculation)}}">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </td>
        <td><input mat-cell   name="puissance" [(ngModel)]="elem.puissanceFiscale" type="text" value = "{{elem.puissanceFiscale}}"/></td>
        <td><input mat-cell   name="nbCylindre" [(ngModel)]="elem.nbCylindre" type="text" value = "{{elem.nbCylindre}}"/></td>
        <td><input mat-cell   name="prix" [(ngModel)]="elem.prix" type="text" value = "{{elem.prix}}"/></td>
        <td><input mat-cell   name="assureur" [(ngModel)]="elem.assurance.assureur" type="text" value = "{{elem.assurance.assureur}}"/></td>
        <td><input mat-cell   name="typeassurance" [(ngModel)]="elem.assurance.typeAssurance" type="text" value = "{{elem.assurance.typeAssurance}}"/></td>
        <td><input mat-cell   name="cotisation" [(ngModel)]="elem.assurance.cotisation" type="text" value = "{{elem.assurance.cotisation}}"/></td>

        <td><button class="but_form" type="submit">
          <i class="material-icons" style="color: green;" (click) = "modifier(elem)"  >check_circle_outline</i>
        </button>
          <button class="but_form" >
            <i class="material-icons" style="color: red;" (click) = "delete(elem.immat)">delete</i>
          </button></td>
      </tr>

    </table>
  </div>

</body>
