<body>


      
      <mat-card (click)="voiture()" style="margin-top: 7%; margin-left: 37%;" class="login- wrapper box" fxLayoutAlign="center center">
        <mat-card-header>
          <mat-card-title style="color: rgb(7, 119, 153);">
            <i class="material-icons">
                directions_car
                </i>
              Voitures</mat-card-title>
        </mat-card-header>
    
      </mat-card>
      <br>
      <mat-card (click)="client()" style="margin-top: 4%; margin-left: 37%;" class="login- wrapper box" fxLayoutAlign="center center" >
        <mat-card-header>
          <mat-card-title style="color: rgb(7, 153, 68);">
            <i class="material-icons" >
                people_outline
                </i>
              Clients</mat-card-title>
        </mat-card-header>
    
      </mat-card>
      <br>
      <mat-card (click)="location()" style="margin-top: 4%; margin-left: 37%;" class="login- wrapper box" fxLayoutAlign="center center" >
        <mat-card-header>
          <mat-card-title style="color: rgb(99, 17, 165);">
            <i class="material-icons">
                event_available
                </i>
            Locations</mat-card-title>
        </mat-card-header>
    
      </mat-card>
    
 
    </body>